<!-- <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button> -->


<mat-form-field class="example-user-input">
    <mat-label>Tooltip message</mat-label>
    <input matInput [formControl]="message">
  </mat-form-field>
  
  <button mat-raised-button
          [matTooltip]="message.value || ''"
          aria-label="Button that displays a tooltip with a custom message">
    Action
  </button>
  